/* CSS Document */
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
/*css variables*/
:root {
    --primary-font:"inter", sans-serif;
    --secondary-font:"macondo", cursive;
    --primary-color: #3a2620; /* Dark Brown */
    --secondary-color: #aa9527; /* Dark Yellow */
    --highlight-color: #416a8e; /* Light Blue */
    --light-highlight-color: #7a9fc2; /* Lighter Blue */

}
/*global styles*/
body {
    font-family: var(--primary-font);   
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--higlight-color);
    
}

/* grid visualisastion CSS for testing */

.container,
.row {
    border: 2px solid black;
}
.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}